{% extends "layout.html" %}
{% block body %}
<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<link href="https://getbootstrap.com/docs/4.3/assets/css/docs.min.css" rel="stylesheet">
<div class="row">
    <div class="container">
        <div class="border-left border-bottom p-2 mb-3">Nodes</div>
    </div>  
    {% for node in results|sort(attribute="name") %}
    <div class="col-sm-4">
        <div class="card shadow-sm" style="width: 17rem; margin-bottom: 15px;">
            <div class="card-body">
            <h6 class="card-title">
                <i class="fas fa-server text-sm"></i> {{ node['name'].split(".")[0] }}
            </h6>
            <p class="card-text">
                <b>Cluster</b><br>
                {{ node['labels']['alpha.eksctl.io/cluster-name'] }}
            </p>
            <p class="card-text">
                <i class='fab fa-docker' data-toggle="tooltip" data-placement="top" title="{{ node['node_info']['container_runtime_version'] }}"></i>
                {% if node['node_info']['operating_system'] == "linux" %} 
                    <i class="fab fa-linux" data-toggle="tooltip" data-placement="top" title="{{ node['node_info']['os_image'] }}"></i>
                {% else %}
                    <i class="fab fa-windows" data-toggle="tooltip" data-placement="top" title="{{ node['node_info']['os_image'] }}"></i>
                {% endif %}
            </p>
            <span class="badge badge-dark">nodegroup:{{ node['labels']['alpha.eksctl.io/nodegroup-name'] }}</span>
            </div>
        </div>
    </div>    
    {% endfor %} 
</div>
{% endblock %}