{% extends "layout.html" %}
{% block body %}
<!-- <link href="https://getbootstrap.com/docs/4.3/assets/css/docs.min.css" rel="stylesheet"> -->
<div class="row">
    <div class="container">
        <div class="border-left border-bottom p-2 mb-3"><b>Pods</b> of {{ ns }}</div>
    </div>    
    {% for pod in results|sort(attribute='name') %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    {{ pod['name'] }}
                    <h9 class="card-subtitle text-muted"> deployed {{ pod['start_time'].strftime('%d/%m/%Y %H:%M') }}</h9>
                </div>
                <div class="card-body">
                    {% for container in pod['containers'] %}
                        <i class="fab fa-docker"></i> {{ container['name'] }} ({{ container['image'].split("/")[-1] }})<br>
                    {% endfor %}
                </div>
            </div><br>
        </div>
    {% endfor %}
</div>
{% endblock %}