{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="container">
        <div class="border-left border-bottom p-2 mb-3"><b>Pods</b> of {{ ns }}</div>
    </div>    
    {% for pod in results|sort(attribute='name') %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    {% if pod['status'] == "Running" %}
                    <i class="fas fa-circle" style="color: green;"></i> {{ pod['name'] }}
                    <h9 class="card-subtitle text-muted"> deployed {{ pod['start_time'].strftime('%d/%m/%Y %H:%M') }}</h9> ({{ pod['status'] }})<br>
                    {% elif pod['status'] == "ContainerCreating"%}
                    <i class="fas fa-circle" style="color: orange;"></i> {{ pod['name'] }} ({{ pod['status'] }}) <br>
                    {% else %}
                    <i class="fas fa-circle" style="color: red;"></i> {{ pod['name'] }} ({{ pod['status'] }}) <br>
                    {% endif %}
                    {% for key,label in pod['labels'].items() %}
                    <span class="badge badge-dark">{{ key }}:{{ label }}</span>
                    {% endfor %}
                </div>
                <div class="card-body">
                    {% for container in pod['containers'] %}
                        <i class='fab fa-docker'></i> {{ container['name'] }} ({{ container['image'].split("/")[-1] }}) <a href="/logs/{{ns}}/{{ pod['name'] }}/{{ container['name'] }}" class="badge badge-pill badge-dark">Log</a><br>
                    {% endfor %}
                </div>
            </div><br>
        </div>
    {% endfor %}
</div>
{% endblock %}